{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facere labore eius aliquid, architecto aut repudiandae. In quos voluptas odio asperiores inventore, atque eveniet. Cumque quaerat exercitationem minima iusto quas.</p>
</div>
{% endblock %}
